.item-container-link {
  cursor: pointer;
}

.full-width {
  width: 100%;
}

.green {
  background: green !important;
}

li {
  border: 1px solid rgb(204, 204, 204);
}

.ant-list-item {

  padding: 15px;

}

